.ctn{
  width: 100%;
  padding: 100px 0;
}

.wrapper{
  max-width: 1170px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.left{
  width: 100%;
  max-width: 700px;
}

.left h1{
  font-size: 5.5rem;
  font-weight: 300;
  color: rgb(210, 210, 210);
  padding-bottom: 20px;
}

.left h1 span{
  color: #00b35f
}

.left p{
  font-size: 21px;
  font-weight: 100;
  color: rgb(210, 210, 210);
  line-height: 1.5;
}

@media screen and (max-width: 768px){

.wrapper{
  max-width: 100%;
  padding: 0 15px;
}

.left h1{
  font-size: 11vw;
}

.left p{
  font-size: 16px;
}

.right{
  width: 100%;
  max-width: 500px;
}

.right img{
  width: 100%;
}

}